@import "/src/styles/extend";

.nav-pills {
    width: 100%;
    display: flex;
    padding: 4px;
    gap: 4px;
}

/** Default Pill **/
.nav-pill {
    height: 42px;
    width: 100%;

    border: 0;
    border-radius: calc($standard-border-radius - 6px);

    background-color: transparent;
    color: var(--theme-nav-secondary);
    transition: background-color $transition-fast, color $transition-fast, transform $transition-fast;

    span {
        margin-left: 10px;
        font-family: $custom-subheadings-font-family;
        font-size: 0.95rem;
        font-weight: bold;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    span, .fa-icon {
        opacity: 0.45;
        transition: opacity $transition-fast;
    }
}

/** Hovered Pill **/
.nav-pill {
    &:hover {
        background-color: var(--theme-nav-light);
        color: var(--theme-highlight);
        span, .fa-icon {
            opacity: 1;
        }
    }
}

/** Active Pill **/
.nav-pill-active {
    background-color: var(--theme-nav-selected)!important;
    color: var(--theme-nav-highlight)!important;
    box-shadow: 0 4px 14px -6px rgba(0, 0, 0, 0.4);

    span, .fa-icon {
        opacity: 1!important;
    }
}
